
@using System.Data.SqlClient;
@using Dapper;
<div class="container">
    <div class="welcome-header">
        <h1>Bienvenidos a Edu Plus</h1>
    </div>
    <div class="curso-cards-container">
        @foreach(Cursos curso in ViewBag.todosCursos)
        {
            <div class="curso-card">
                <img class="curso-imagen" src="@curso.imagen" alt="Imagen del curso">
                <div class="curso-content">
                    <h2>@curso.nombreCurso</h2>
                    <a href='@Url.Action("VerDetalleCursos", "Home", new { idCurso = curso.idCurso })' class="btn btn-outline-primary">Ver detalle</a>
                </div>
            </div>
        }
    </div>
</div>


    @foreach(Cursos curso in ViewBag.todosCursos)
    {
        <div class="curso-card">
            <h2>@curso.nombreCurso</h2>
            <img src="@curso.imagen" alt="Imagen del curso" class="curso-imagen">
        <a href='@Url.Action("VerDetalleCursos", "Home", new { idCurso = curso.idCurso })' class="btn btn-outline-primary">Ver detalle</a>
        </div>
    }
</div>
