@using System.Data.SqlClient;
@using Dapper;
<div>
@foreach(Cursos curso in @ViewBag.todosCursos)
        {
                <tr>
                    <h1>@curso.nombreCurso</h1>
                        <td>@curso.imagen</td>
                </tr>
            <button type="button" class="btn btn-outline-primary"><a href='@Url.Action("VerDetalleCursos", "Home", new {idCurso = @curso.idCurso})'>Ver detalle</a></button>
        }
</div>
